# Notebook de limpeza e junção de dados de docentes do INEP

## Imports e funções

In [1]:
import pandas as pd

In [11]:
dados_2019 = pd.read_csv('../Data/SUP_DOCENTE_2019.CSV', sep='|', encoding='ISO-8859-1')
dados_2018 = pd.read_csv('../Data/DM_DOCENTE.CSV', sep='|', encoding='ISO-8859-1')
dados_2017 = pd.read_csv('../Data/SUP_DOCENTE_2017.CSV', sep='|', encoding='ISO-8859-1')
dados_2016 = pd.read_csv('../Data/SUP_DOCENTE_2016.CSV', sep='|', encoding='ISO-8859-1')
dados_2015 = pd.read_csv('../Data/SUP_DOCENTE_2015.CSV', sep='|', encoding='ISO-8859-1')

## Juntando as bases

In [12]:
bases = [dados_2015, dados_2016, dados_2017, dados_2018, dados_2019]
soma_tamanho_bases = 0
for b in bases:
    soma_tamanho_bases += len(b)

print(f'Soma do tamanho das bases: {soma_tamanho_bases}')

Soma do tamanho das bases: 1988267

In [13]:
dados_2015_2019 = pd.concat(bases)
dados_2015_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1988267 entries, 0 to 399427
Data columns (total 41 columns):
 #   Column                        Dtype
---  ------                        -----
 0   NU_ANO_CENSO                  int64
 1   CO_IES                        int64
 2   TP_CATEGORIA_ADMINISTRATIVA   int64
 3   TP_ORGANIZACAO_ACADEMICA      int64
 4   CO_DOCENTE_IES                int64
 5   ID_DOCENTE                    object
 6   TP_SITUACAO                   int64
 7   TP_ESCOLARIDADE               int64
 8   TP_REGIME_TRABALHO            float64
 9   TP_SEXO                       int64
 10  NU_ANO_NASCIMENTO             int64
 11  NU_MES_NASCIMENTO             int64
 12  NU_DIA_NASCIMENTO             int64
 13  NU_IDADE                      int64
 14  TP_COR_RACA                   int64
 15  CO_PAIS_ORIGEM                int64
 16  TP_NACIONALIDADE              int64
 17  CO_UF_NASCIMENTO              float64
 18  CO_MUNICIPIO_NASCIMENTO       float64
 19  IN_DEFICIENCIA                int64
 20  IN_DEFICIENCIA_CEGUEIRA       float64
 21  IN_DEFICIENCIA_BAIXA_VISAO    float64
 22  IN_DEFICIENCIA_SURDEZ         float64
 23  IN_DEFICIENCIA_AUDITIVA       float64
 24  IN_DEFICIENCIA_FISICA         float64
 25  IN_DEFICIENCIA_SURDOCEGUEIRA  float64
 26  IN_DEFICIENCIA_MULTIPLA       float64
 27  IN_DEFICIENCIA_INTELECTUAL    float64
 28  IN_ATUACAO_EAD                float64
 29  IN_ATUACAO_EXTENSAO           float64
 30  IN_ATUACAO_GESTAO             float64
 31  IN_ATUACAO_GRAD_PRESENCIAL    float64
 32  IN_ATUACAO_POS_EAD            float64
 33  IN_ATUACAO_POS_PRESENCIAL     float64
 34  IN_ATUACAO_SEQUENCIAL         float64
 35  IN_ATUACAO_PESQUISA           float64
 36  IN_BOLSA_PESQUISA             float64
 37  IN_SUBSTITUTO                 float64
 38  IN_EXERCICIO_DATA_REFERENCIA  float64
 39  IN_VISITANTE                  float64
 40  TP_VISITANTE_IFES_VINCULO     float64
dtypes: float64(24), int64(16), object(1)
memory usage: 637.1+ MB

In [16]:
dados_2015_2019.head()

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_DOCENTE_IES,ID_DOCENTE,TP_SITUACAO,TP_ESCOLARIDADE,TP_REGIME_TRABALHO,TP_SEXO,...,IN_ATUACAO_GRAD_PRESENCIAL,IN_ATUACAO_POS_EAD,IN_ATUACAO_POS_PRESENCIAL,IN_ATUACAO_SEQUENCIAL,IN_ATUACAO_PESQUISA,IN_BOLSA_PESQUISA,IN_SUBSTITUTO,IN_EXERCICIO_DATA_REFERENCIA,IN_VISITANTE,TP_VISITANTE_IFES_VINCULO
0,2015,547,2,1,846997,D42869F50580863B11508C9BC447716E,1,4,2.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
1,2015,3163,1,4,781183,5F67105770DC09D3CFD410D25569586A,1,5,1.0,1,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
2,2015,163,4,1,838916,39B567434A2F3422F28E816E5BB65CDD,1,3,2.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
3,2015,3163,1,4,688412,39B567434A2F3422F28E816E5BB65CDD,1,3,2.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
4,2015,3163,1,4,688583,B331397C4A4FD54AA82A4F4B258C8407,1,4,1.0,1,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN

## Salvando a nova base

In [17]:
dados_2015_2019.to_csv('../Data/docentes_2015-2019.csv', index=False)